[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
[Bb]urst/
Logs/
sysinfo.txt

*.csproj
*.unityproj
*.sln
*.sln.DotSettings
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.log

# VSCode
.vscode/

# JetBrains Rider
.idea/

# OS
.DS_Store
Thumbs.db
